@model JassWeather.Models.JassLatLon

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>

<script>
function initialize()
{
var mapProp = {
  center:new google.maps.LatLng(@Model.Lat , @Model.Lon ),
  zoom:10,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("googleMap")
  , mapProp);

var marker = new google.maps.Marker({
    position: new google.maps.LatLng(@Model.Lat , @Model.Lon )
});

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="googleMap" style="width:500px;height:380px;"></div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>JassLatLon</legend>

        @Html.HiddenFor(model => model.JassLatLonID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Info)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Info)
            @Html.ValidationMessageFor(model => model.Info)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lat)
            @Html.ValidationMessageFor(model => model.Lat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lon)
            @Html.ValidationMessageFor(model => model.Lon)
        </div>

        <div class="editor-field">
            Narr Grid Cell:  @Model.narrY , @Model.narrX
        </div>
        <div class="editor-field">
            Macc Grid Cell:  @Model.maccY , @Model.maccX
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hrDifference)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hrDifference)
            @Html.ValidationMessageFor(model => model.hrDifference)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JassLatLonGroupID, "JassLatLonGroup")
        </div>
        <div class="editor-field">
            @Html.DropDownList("JassLatLonGroupID", String.Empty)
            @Html.ValidationMessageFor(model => model.JassLatLonGroupID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
