@model IEnumerable<JassWeather.Models.JassLatLon>

@{
    ViewBag.Title = "Index";
}

<h2>Index (@ViewBag.LatLonGroup) </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th>
            hrDiff
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lon)
        </th>
                <th>
            @Html.DisplayNameFor(model => model.narrY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.narrX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JassLatLonGroup.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hrDifference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.narrY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.narrX
            )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JassLatLonGroup.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JassLatLonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JassLatLonID })
        </td>
    </tr>
}

</table>
