@model JassWeather.Controllers.LatLonGroupController.ShowLocationBasedDashboardModel
@{
    ViewBag.Title = "ShowLocationBasedDashboard";
}

<h2>Locations Status for @Model.latlonGroup.Name</h2>
@Model.Message


@{
    int numberOfLocations = Model.latlonGroup.JassLatLons.Count;
    int numberOfVariables = Model.gridValues.Count;
    var locations = Model.latlonGroup.JassLatLons;
    var variables = Model.gridValues;
    }

<table>
    <tr>
        <td></td>
              @for (int v = 0; v < variables.Count; v++)
                    {
                        <td>@variables[v].VariableName</td>                     
                    }

    </tr>
            @for (int l = 0; l < locations.Count; l++)
        {
    <tr>
        <td>@locations[l].Name</td>
                    @for (int v = 0; v < variables.Count; v++)
                    {
                        <td>@variables[v].measure[0,0,locations[l].narrY, locations[l].narrX]</td>                     
                    }
    </tr>
        }
</table>
