@model JassWeather.Models.JassGrid

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>JassGrid</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Xsize)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Xsize)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ysize)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ysize)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Levelsize)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Levelsize)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Timesize)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Timesize)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JassPartition.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JassPartition.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
