@model JassWeather.Models.JassGrid

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>JassGrid</legend>

        @Html.HiddenFor(model => model.JassGridID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Xsize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Xsize)
            @Html.ValidationMessageFor(model => model.Xsize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Xname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Xname)
            @Html.ValidationMessageFor(model => model.Xname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ysize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ysize)
            @Html.ValidationMessageFor(model => model.Ysize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Yname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Yname)
            @Html.ValidationMessageFor(model => model.Yname)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Levelsize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Levelsize)
            @Html.ValidationMessageFor(model => model.Levelsize)
        </div>

       <div class="editor-label">
            @Html.LabelFor(model => model.Levelname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Levelname)
            @Html.ValidationMessageFor(model => model.Levelname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StepsInDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StepsInDay)
            @Html.ValidationMessageFor(model => model.StepsInDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Timesize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Timesize)
            @Html.ValidationMessageFor(model => model.Timesize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Timename)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Timename)
            @Html.ValidationMessageFor(model => model.Timename)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JassPartitionID, "JassPartition")
        </div>
        <div class="editor-field">
            @Html.DropDownList("JassPartitionID", String.Empty)
            @Html.ValidationMessageFor(model => model.JassPartitionID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
