@{
    ViewBag.Title = "Tools";
}

<h2>Tools</h2>

<ul>
<li>@Html.ActionLink("Create Test Macc-Narr Grid Mapper ", "MapMacc2NarrTest", "Grid")</li>
<li>@Html.ActionLink("Create Test CFSR-Narr Grid Mapper ", "MapCFSR2NarrTest", "Grid")</li>
<li>@Html.ActionLink("Create Real CFSR-Narr Grid Mapper ", "MapCFSR2NarrReal", "Grid")</li>
<li>@Html.ActionLink("Show Grid from Grid Mapper File", "ShowGridMap", "Grid")</li>
<li>@Html.ActionLink("Test Sheridan Downloader", "TestSheridan", "Test")</li>
<li>@Html.ActionLink("Test Sheridan Lat Lon", "TestSheridanLatLon", "Test")</li>
<li>@Html.ActionLink("Save Sheridan Lat Lon", "SaveSheridanLatLon", "Test")</li>
<li>@Html.ActionLink("Create Test SHER-Narr Grid Mapper ", "MapSHER2NarrTest", "Grid")</li>
<li>@Html.ActionLink("Create Real SHER-Narr Grid Mapper ", "MapSHER2NarrReal", "Grid")</li>
    <li>@Html.ActionLink("Create Envirolytic Narr Grid", "CreateEnvirolyticNarrGrid", "Grid")</li>
</ul>

