@model IEnumerable<JassWeather.Models.APIRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.APIRequestSet.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startGetTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endGetTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spanGetTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.onDisk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.onBlob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.onTable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fileSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zenType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.variable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.variableConsolidated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statistic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.impactHealth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.impactBusiness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.impactConsumer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.impactAgriculture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isHistorical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isCurrent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isForecast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.geographicResolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frecuency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeOfMeasure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fileFormat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.APIRequestSet.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startGetTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endGetTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spanGetTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onDisk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onBlob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onTable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fileSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zenType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.variable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.variableConsolidated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statistic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.impactHealth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.impactBusiness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.impactConsumer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.impactAgriculture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isHistorical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCurrent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isForecast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.geographicResolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frecuency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeOfMeasure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fileFormat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
