@{
    ViewBag.Title = "TestMerge1";
}

<h2>Test Split</h2>

<p>@ViewBag.Message</p>
<p>@ViewBag.TotalDelay</p>
<p>Schema0: @ViewBag.sschema_new</p>
<p>Schema1: @ViewBag.sschema1</p>
<p>Schema3: @ViewBag.sschema3</p>
<p>Starting Memory: @ViewBag.StartingMemory</p>
<p>After Open Memory: @ViewBag.AfterOpenMemory</p>
<p>After Load: @ViewBag.AfterLoadMemory</p>
<p>After Load Diff: @ViewBag.AfterLoadDiffMemory</p>

