@model JassWeather.Models.APIRequest

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>APIRequest</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.APIRequestSetId, "APIRequestSet")
        </div>
        <div class="editor-field">
            @Html.DropDownList("APIRequestSetId", String.Empty)
            @Html.ValidationMessageFor(model => model.APIRequestSetId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.url)
            @Html.ValidationMessageFor(model => model.url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.schema)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.schema)
            @Html.ValidationMessageFor(model => model.schema)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fileSize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fileSize)
            @Html.ValidationMessageFor(model => model.fileSize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.type)
            @Html.ValidationMessageFor(model => model.type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.schedule)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.schedule)
            @Html.ValidationMessageFor(model => model.schedule)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zenType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zenType)
            @Html.ValidationMessageFor(model => model.zenType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.variable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.variable)
            @Html.ValidationMessageFor(model => model.variable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.variableConsolidated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.variableConsolidated)
            @Html.ValidationMessageFor(model => model.variableConsolidated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.impactHealth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.impactHealth)
            @Html.ValidationMessageFor(model => model.impactHealth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.impactBusiness)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.impactBusiness)
            @Html.ValidationMessageFor(model => model.impactBusiness)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.impactConsumer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.impactConsumer)
            @Html.ValidationMessageFor(model => model.impactConsumer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.impactAgriculture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.impactAgriculture)
            @Html.ValidationMessageFor(model => model.impactAgriculture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dataSource)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dataSource)
            @Html.ValidationMessageFor(model => model.dataSource)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isHistorical)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isHistorical)
            @Html.ValidationMessageFor(model => model.isHistorical)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isCurrent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isCurrent)
            @Html.ValidationMessageFor(model => model.isCurrent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isForecast)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isForecast)
            @Html.ValidationMessageFor(model => model.isForecast)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.geographicResolution)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.geographicResolution)
            @Html.ValidationMessageFor(model => model.geographicResolution)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.frecuency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.frecuency)
            @Html.ValidationMessageFor(model => model.frecuency)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.typeOfMeasure)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.typeOfMeasure)
            @Html.ValidationMessageFor(model => model.typeOfMeasure)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cost)
            @Html.ValidationMessageFor(model => model.cost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fileFormat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fileFormat)
            @Html.ValidationMessageFor(model => model.fileFormat)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
