@model JassWeather.Models.APIRequestSet

<h2>Data Sources in @Model.name </h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            VarCons
        </th>
        <th>
            Type
        </th>
        <th>
            Var/Dims
        </th>
        <th>
            MBs
        </th>
        <th>
            Delay
        </th>
        <th>
            OnD
        </th>
        <th>
            OnB
        </th>
        <th>
            OnT
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.APIRequests) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.variable)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.schema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fileSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spanGetTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onDisk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onBlob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onTable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("G2B", "Download2Blob", new { id=item.Id }) |
            @Html.ActionLink("G2D", "Download2Disk", new { id=item.Id }) |
            @Html.ActionLink("Insp", "AnalyzeFileDisk", new { id=item.Id }) |
            @Html.ActionLink("D", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
