@using JassWeather.Models;
@using JassWeather.Controllers;
@model List<JassVariableStatus>

@{
    ViewBag.Title = "Index";
    long grandTotal = 0;
    int yearsBackInHistory = JassWeatherAPI.yearsBackInHistory; 
}

<style>
    .green {background-color: lightgreen}
    .yellow {background-color: lightyellow}
    .white {}
    th { text-decoration:underline}
</style>

<h2>Available Data by Year from @(DateTime.Now.Year - yearsBackInHistory) to @(DateTime.Now.Year)</h2>

<table>
    <tr>
        <th>
            Variable
        </th>
        <th>
            %Fill
        </th>
        <th>
            Size(GB)
        </th>
        @for (int y = 0; y <= yearsBackInHistory; y++)
        {
            string yearString = (DateTime.Now.Year - yearsBackInHistory + y).ToString();
            <th>
            @Html.ActionLink(yearString, "ShowDashBoard4Year", new { yearIndex=y })              
            </th>
        }


@foreach (var item in Model) {
    string classForVariable = "white"; grandTotal += item.SizeVariableLevel;
    if (item.StatusVariableLevel == 100) { classForVariable = "green"; }
    if (item.StatusVariableLevel > 0 && item.StatusVariableLevel < 100) { classForVariable = "yellow"; }
    <tr>
         <td>
            @item.VariableName
        </td>
         <td class="@classForVariable"> 
           @item.StatusVariableLevel%
        </td>
        <td class="@classForVariable"> 
           @(System.Math.Round((decimal)item.SizeVariableLevel/1000000000,2) )
        </td>
        @for (int y = 0; y <= yearsBackInHistory; y++)
        {
            string color="white";
            if (item.StatusYearLevel[y] == 100) { color = "green"; }
            if (item.StatusYearLevel[y] > 0 && item.StatusYearLevel[y] < 100) { color = "yellow"; }
            <td class="@color">    
            @item.StatusYearLevel[y]%           
            </td>
        }
        <td>
            @Html.ActionLink("ExploreFiles", "ListBlobs", new { containerName=item.ContainerName })
        </td>
    </tr>
}

</table>

<p class="yellow">Grand Total (GB) @(grandTotal/1000000000)</p>

