@model JassWeather.Models.JassGridValues
@using JassWeather.Models

@{
    ViewBag.Title = "Index";
}
<style>

table { table-layout: fixed; }
th, td { width: 2px; font-size:xx-small}

</style>

<h2>Values on File @ViewBag.fileName for time==0 level==0</h2>
Max Value:  @Math.Round(@Model.measureMax,0)  Min Value : @Math.Round(Model.measureMin,0)

<table><tr>
@foreach (var v in Model.variableMetadata)
{
    <td>@v.Key<text>:</text>@v.Value</td>
}
</tr></table>

<table>
    <tr>
        <th>
            Y
        </th>
        @for (int x = 0; x < Model.xLength; x++ ){
        <th>
            @x
        </th>
        }
    </tr>

@for (int y = 0; y < Model.yLength; y++ )
{
    <tr>
        <td>
            @y
        </td>
           @for (int x = 0; x < Model.xLength; x++ ){
               JassWeather.Models.JassRGB rgb = JassWeather.Models.JassWeatherAPI.rgb(Model.measure[0,0,y,x],Model.measureMin,Model.measureMax);
               
        <td style="background-color:rgb(@rgb.r,@rgb.g,@rgb.b)">
            @Model.measure[0,0,y,x]
        </td>
            }
    </tr>
}

</table>
