@model JassWeather.Models.JassGridValues

@{
    ViewBag.Title = "Index";
}
<style>

table { table-layout: fixed; }
th, td { width: 2px; font-size:xx-small}

</style>
JassGridValues

<h2>Values on File @ViewBag.fileName for time==0 level==0</h2>
MaxValue: @Model.measureMax   MinValue: @Model.measureMin   Range: @(Model.measureMax - Model.measureMin)
<table><tr>
@foreach (var v in Model.variableMetadata)
{
    <td>@v.Key<text>:</text>@v.Value</td>
}
</tr></table>

<table>
    <tr>
        <th>
            Y
        </th>
        @for (int x = 0; x < Model.xLength; x++ ){
        <th>
            @x
        </th>
        }
    </tr>

@for (int y = 0; y < Model.yLength; y++ )
{
    <tr>
        <td>
            @y
        </td>
           @for (int x = 0; x < Model.xLength; x++ ){
        <td>
            @Model.measure[0,0,y,x]
        </td>
            }
    </tr>
}

</table>
