@model JassWeather.Models.JassDeriver

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>JassDeriver</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JassVariable.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JassVariable.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JassFormula.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JassFormula.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YearStart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearStart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YearEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearEnd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MonthStart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MonthStart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MnnthEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MnnthEnd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayStart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayStart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayEnd)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.JassDeriverID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
