@model IEnumerable<JassWeather.Models.JassDeriver>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Variable
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X5)
        </th>
        <th>
            Formula
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JassVariable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JassFormula.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearStart) 
            @Html.DisplayFor(modelItem => item.MonthStart) 
            @Html.DisplayFor(modelItem => item.DayStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearEnd)
            @Html.DisplayFor(modelItem => item.MnnthEnd)
            @Html.DisplayFor(modelItem => item.DayEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JassDeriverID }) |
            @Html.ActionLink("ProcessDeriverLocallyNoclean", "ProcessDeriverLocallyNoclean", new { id=item.JassDeriverID }) |
            @Html.ActionLink("ProcessDeriverUpLoadClean", "ProcessDeriverUpLoadClean", new { id=item.JassDeriverID }) |
            @Html.ActionLink("ProcessDeriverUpLoadNoClean", "ProcessDeriverUpLoadNoClean", new { id = item.JassDeriverID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JassDeriverID })
        </td>
    </tr>
}

</table>
