@model IEnumerable<JassWeather.Models.JassDeriver>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JassVariable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JassFormula.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MnnthEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JassVariable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JassFormula.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MnnthEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JassDeriverID }) |
            @Html.ActionLink("Details", "Details", new { id=item.JassDeriverID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JassDeriverID })
        </td>
    </tr>
}

</table>
